@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.contact-wrap {

	width: 80%;
	margin-bottom: 20px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 30px 50px;
	
	margin-left: 50px;
}
.contact-in a{
	margin-left: 10px;
	margin-top: 30px;
	text-decoration: none;
	color: #000;
}
.contact-in a i{
	font-size: 20px;
	margin-top: 10px;
}



.contact-in h1 {
	font-size: 24px;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #000;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;

	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 20px;
	font-weight: 300;

	color: #000;
}


.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid black;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: black;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid black;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: black;
}

.contact-in-btn {
	width: 20%;
	height: 40px;
	border: 1px solid black;
	outline: none;
	background: transparent;
	color: black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	border-radius: 20px;
}
.contact-in-btn:hover{
	background-color: orange;
	color: white;
}



@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}